apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-jpubdohl
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-jpubdohl:87a13c1d7089afbd4d51c8bd8d9725f66fe3fca8@sha256:78da7f835d430977a29b0cd990d17850ecf8a9bdec6cee445bf147c95a0e0f06
        name: container-image  
